#title {
  text-decoration: underline;     
  text-decoration-color: black;
  text-align:center
}
#profile {
                border-style: solid;
                width: 245px;
                height: 504px;
                padding:10px;
            }
body {
background-color: #808080;
}
#align {
 
}

#aboutMe {
text-align:center;
}

.caption{
  align: left; 
}

.pages {
 font: 20px; 
  
}
