#title {
  text-decoration: underline;     
  text-decoration-color: black;
  text-align:center
}
#profile {
                border-style: solid;
                width: 245px;
                height: 504px;
            }
